# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
robo_env/
venv/
.env/

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# Windows
Thumbs.db

# Logs
*.log

# Build
build/
dist/

# Python packaging
*.egg-info/

# Ignore datasets and other large files not meant for source control
dataset/
